@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* for header */

.header{
    border-radius: 5px;
    text-align: center;
    padding: 30px 30px;
    margin-top: auto;

}

.header-bg{
    background-image: url(../assets/Hero-bg.png);
    background-position: auto;
}


.header-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
}

.header-content{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(6, 6, 6);
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px; 
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;

}

/* header part end */

/* main : why web-development */

.background{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.web-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.web-subtitle{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}



.first-layer{ 
display: flex;
}


/* for target section */

.target-container{
    display: flex;
    gap: 24px;
}

.targets{
    padding: 30px;
    border-radius: 5px;
}