@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* for header */

.header{
    border-radius: 5px;
    text-align: center;
    padding: 30px 30px;
    margin-top: auto;
}

.header-bg{
    background-image: url(../assets/Hero-bg.png);
    background-position: auto;
    margin-bottom: 74px;
}

.header-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: center;
}

.header-content{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(6, 6, 6);
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px; 
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;

}

/* header part end */

/* main : why web-development */


.web-background{
    width: 1140px;
    height: 1395px;
    margin: auto 152px auto 148px;
    align-items: center;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    }

.web-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    }

.web-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    max-width: 850px;
    margin: 50px auto;
    }


.box {
    display: flex;
    max-width: 850px;
    margin: 50px auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.second-box{
    display: flex;
    max-width: 850px;
    margin: 50px auto;
    border-radius: 16px;
}

.left-section, .right-section {
    flex: 1;
}

.left-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer-header{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.layer-content{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;

}

.layer-btn{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
opacity: 0.7;
width: 150px;
height: 48px;
}

/* Inspiration section */

.ins-sec{
    margin: 88px 152px 151px 148px;
    text-align: center;
}

.inspiration{
    margin: auto 144px 48px;
}
.isp-header{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
}

.isp-paragraph{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
}

.video{
width: 1140px;
height: 614px;
padding: 32px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
justify-content: center;
align-items: center;
margin: 48px 0px;
}


/* for target section */

.target-section{
    margin: 150px;
}

.target-header{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
}

.target-pg{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
}

.target-container{
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

.target-container-two{
    margin: 0px 150px;
    text-align: center;
    gap: 24px;
}

.targets{
    padding: 30px;
    border-radius: 16px;
}

.target-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}

.target-subtitle{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
}

.target-link-word{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;
}


/* Footer */

.footer-bg{
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    width: 1140px;
    height: 314px;
    text-align: center;
    margin: 49px 150px 179px;
    padding: 64px 48px;
    border-radius: 16px;    
}

.footer-title{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
text-align: center;
}

.footer-subtitle{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
text-align: center;
}
.form{
    display: flex;
    align-items: center;
    margin-left: 180px;
}

.footer-text{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);    
    width: 548px;
    height: 57px;
    align-items: center;
    padding: 19px 20px 19px 20px;
    margin: 0px 16px;
}

.footer-btn{
border-radius: 8px;
border: none;
background: rgb(255, 255, 255);
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
padding: 17px 20px 17px 20px;
cursor: pointer;
}
